* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.FlexEx {
    background-color: lavender;
}

.FlexEx .flex-m {
    margin: 0px 80px;
}

.FlexEx .flex-p {
    padding: 50px 0px;
}

.FlexEx .flexBox {
    display: flex;
    gap: 30px;
    align-items: center;
}

.FlexEx .flexBox .fleximg {
    flex: 1;
}

/* responsive image css */
.FlexEx .flexBox .fleximg img {
    height: auto;
    max-width: 100%;
}

.FlexEx .flexBox .flexContent {
    flex: 1;
}

.FlexEx .flexBox .flexContent h1 {
    font-size: 45px;
    padding-bottom: 15px;
}

.FlexEx .flexBox .flexContent p {
    font-size: 17px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    padding-bottom: 15px;
}

.FlexEx .flexBox .flexContent button {
    height: 40px;
    width: 150px;
    background-color: #130c4d;
    border: 2px solid transparent;
    color: white;
    font-size: 17px;
}

/* ==================================  */
@media (max-width:576px) {
    .FlexEx .flex-m {
        margin: 0px 20px;
    }

    .FlexEx .flexBox {
        flex-direction: column;
    }
}

@media (min-width:576px) {
    .FlexEx .flex-m {
        margin: 0px 35px;
    }

    .FlexEx .flexBox {
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .FlexEx .flex-m {
        margin: 0px 50px;
    }

    /* direction inherit from min width 576px */
}

@media (min-width:992px) {
    .FlexEx .flex-m {
        margin: 0px 65px;
    }

    .FlexEx .flexBox {
        flex-direction: row;
    }
}

@media (min-width:1200px) {
    .FlexEx .flex-m {
        margin: 0px 80px;
    }
}