/* ============ common css ============= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* margin */
.container-large {
    margin-left: 80px;
    margin-right: 80px;
}

.container-sm {
    margin-left: 30px;
    margin-right: 30px;
}

.pad-10 {
    padding: 10px 0px;
}

/* =============== homepage ============ */
.mainSection {
    background: url(../images/bg_1.webp) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.mainSection::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}

.mainSection .contactus {
    background-color: rgba(255, 255, 255, 0.211);
    color: white;
}

.mainSection .contactinfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    background-color: transparent;
}

.navbar::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.211);
    display: block;
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.navbar .navbar-nav .logo {
    flex: 1;
    color: white;
}

.navbar .navbar-nav .nav {
    flex: 3;
}

.navbar .navbar-nav ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.navbar .navbar-nav ul li {
    padding: 5px;
}

.navbar .navbar-nav ul li a {
    color: white;
}

.navbar .navbar-nav ul button {
    height: 45px;
    width: 140px;
    font-size: 16px;
    background-color: #e98c40;
    color: white;
    border-radius: 5px;
    border: 2px solid transparent;
}

.navbar .navbar-nav .menubtn {
    flex: 0.5;
    display: none;
    justify-content: end;
}

.navbar .navbar-nav .menubtn button {
    border: none;
    height: 45px;
    color: white;
    font-size: 17px;
    background-color: transparent;
}

.homepage-banner .home-text {
    text-align: center;
    padding: 100px 0px 20px;
}

.homepage-banner .banner-text {
    color: #e98c40;
    font-family: "Great Vibes", cursive;
    font-size: 100px;
}

.homepage-banner .banner2-text {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.homepage-banner::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.211);
    display: block;
}

.mainSection .FoodGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 30px 0px;
}

.mainSection .FoodGrid .foodItems {
    text-align: center;
    padding: 10px;
}

.mainSection .FoodGrid img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
}

.mainSection .FoodGrid .image {
    margin: auto;
}

.mainSection .FoodGrid h3 {
    color: white;
}

.mainSection .FoodGrid p {
    color: gray;
}